.main {
  padding: 2em 0;
}

.input-search {
  width: 100%;
  border: none;
  background-color: #f4fafa;
  border-radius: 4px;
  padding: 10px 15px;
  color: #227a69;
  font-weight: 700;

  &:focus {
    outline: 2px solid #227a69;
  }
}

.container_table {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #dddddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  display: block;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:hover {
  background-color: #f4fafa;
}

.table-cell_id,
th:first-child {
  width: 50px;
}

th:last-child,
.table-cell_actions {
  width: 65px;
}

@media (min-width: 700px) {
  table {
    display: table;
  }
}
